*{
  margin: 0;
  padding: 0;
}

.conteiner {
  background-color: #2020fa;
  width: 30pc;
  height: 30pc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: auto;
  margin-top: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.Vx {
  color: #4a4a4a;
  transform: translateY(-140px);
  font-family: 'Open Sans', sans-serif;
}


.inputs{
  border: none;
  height: 100px;
}

